<footer class="footer">
    <div class="footer-section">
        <div class="footer-section__item">
            <h2 class="footer-section__title">Accès rapides</h2>
            <ul class="footer__links">
                <li><a href="mentions-legales.php" class="footer__link">Mentions légales</a></li>
                <li><a href="contact.php" class="footer__link">Contact</a></li>
                <li><a href="rgpd.php" class="footer__link">RGPD / Confidentialité</a></li>
                <li><a href="charte.php" class="footer__link">Charte d'utilisation</a></li>
            </ul>
        </div>
        <div class="footer-section__item">
            <h2 class="footer-section__title">Nos sites</h2>
            <ul class="footer__links">
                <li><a href="https://kronik.smart.coop" class="footer__link"><span class="label">Kronik, le blog</span></a></li>
                <li><a href="https://smartbe.be" class="footer__link"><span class="label">Smartbe.be</span></a></li>
            </ul>
        </div>
        <div class="footer-section__item">
            <h2 class="footer-section__title">Suivre</h2>
            <ul class="footer_icons">
                <li class="footer_icons__item">
                    <a href="https://twitter.com/SMartBe_FR" class="footer_icons__link"><img src="./icons/twitter.svg" class="o-svg-icon" /></a>
                </li>
                <li class="footer_icons__item">
                    <a href="https://www.facebook.com/SMartBeFR/" class="footer_icons__link"><img src="./icons/facebook.svg" class="o-svg-icon s" /></a>
                </li>
                <li class="footer_icons__item">
                    <a href="https://www.linkedin.com/company/smartbefr/" class="footer_icons__link"><img src="./icons/linkedin.svg" class="o-svg-icon" /></a>
                </li>
                <li class="footer_icons__item">
                    <a href="https://www.youtube.com/channel/UCWfo_GiuDq6qNiW2IT5JOJg" class="footer_icons__link"><img src="./icons/youtube.svg" class="o-svg-icon" /></a>

                </li>
            </ul>
        </div>
    </div>
    <p class="footer-attribution">
        &copy; Smart. All rights reserved 2022
    </p>

</footer>