<header class="header">
    <div class="header-band">
        <a href="#" class="header-band__link">>> Accès membre <<</a>
    </div>
    <nav class="header-nav">
        <div class="header-nav__logo_container">
            <a href="index.php" class="header-nav__logo-link"><img src="images/smart-logo--white-with-padding.svg" alt="Smart logo" class="header-nav__logo">
            </a>
        </div>
        <ul class="header-nav__ul">
            <li class="header-nav__item">
                <a href="index.php" class="header-nav__link">Formateurs Associés</a>
            </li>
            <li class="header-nav__item">
                <a href="formations.php" class="header-nav__link">Formations</a>
            </li>
            <li class="header-nav__item">
                <a href="formateurs.php" class="header-nav__link">Formateurs</a>
            </li>
        </ul>
    </nav>

</header>