<form action="#">
    <div class="c-input-with-icon">

        <input class="c-input c-input--max-width" id="styleguideSearch" type="search" placeholder="Search…">
        <div class="o-svg-icon o-svg-icon-search  ">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="#1267FB" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#1267FB" />
                                </svg>
        </div>
    </div>
</form>
<div class="search-category__list">
    <ul class="search-category__list-ul">
        <li class="search-category__item"><a href="formations.php?cat=category" class="search-category__item-link">Cours de langue</a></li>
        <li class="search-category__item">
            <a href="formations.php?cat=category" class="search-category__item-link">Informatique et technologies</a>
        </li>
        <li class="search-category__item"><a href="formations.php?cat=category" class="search-category__item-link">Sciences humaines et sociales</a></li>
        <li class="search-category__item">
            <a href="formations.php?cat=category" class="search-category__item-link">Matière scolaire / universitaire</a>
        </li>
        <li class="search-category__item">
            <a href="formations.php?cat=category" class="search-category__item-link">Économie / Marketing</a></li>
        <li class="search-category__item"><a href="formations.php?cat=category" class="search-category__item-link">Soin aux personnes</a></li>
        <li class="search-category__item">
            <a href="formations.php?cat=category" class="search-category__item-link">Communication</a>
        </li>
        <li class="search-category__item">
            <a href="formations.php?cat=category" class="search-category__item-link">Art / Culture</a>
        </li>
        <li class="search-category__item"><a href="formations.php?cat=category" class="search-category__item-link">Autre</a></li>
    </ul>
    <div class="search-category__item_end">
        <a href="formations.php?cat=category" class="search-category__item-all search-category__item--active">Dans toutes les matières</a>
    </div>
</div>