<!-- BO pour la demo -->
<div class="training-list">

    <div class="training-list__container">
        <div class="training-list__container-left">
            <div class="training-list__title">
                <a href="nom-de-la-formation.php" class="training-list__training-link">Python et la programmation objet</a>
            </div>
            <div class="training-list__trainer">
                Daenerys Targaryen
            </div>
            <div class="training-list__category">
                <img src="./icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" /><a href="formations.php?cat=category" class="training-list__category-link">Informatique et technologies</a>
            </div>
        </div>
        <div class="training-list__container-right">
            <div class="training-list__more">
                <!-- Lien vers la fiche de la formation -->
                <a href="nom-de-la-formation.php" class="training-list__more-link"><img src="./icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" /></a>
            </div>
        </div>
    </div>
</div>
<div class="training-list">
    <div class="training-list__container">
        <div class="training-list__container-left">
            <div class="training-list__title">
                <a href="nom-de-la-formation.php" class="training-list__training-link">Communication en français langue étrangère</a>
            </div>
            <div class="training-list__trainer">
                Robb Stark
            </div>
            <div class="training-list__category">
                <img src="./icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" /><a href="formations.php?cat=category" class="training-list__category-link">Cours de langue</a>
            </div>
        </div>
        <div class="training-list__container-right">
            <div class="training-list__more">
                <!-- Lien vers la fiche de la formation -->
                <a href="nom-de-la-formation.php" class="training-list__more-link"><img src="./icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" /></a>
            </div>
        </div>
    </div>
</div>
<div class="training-list">
    <div class="training-list__container">
        <div class="training-list__container-left">
            <div class="training-list__title">
                <a href="nom-de-la-formation.php" class="training-list__training-link">Améliorer sa pratique dans sa fonction de responsable d’équipe ou de direction</a>
            </div>
            <div class="training-list__trainer">
                Tyrion Lannister
            </div>
            <div class="training-list__category">
                <img src="./icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" /><a href="formations.php?cat=category" class="training-list__category-link">Communication</a>
            </div>
        </div>
        <div class="training-list__container-right">
            <div class="training-list__more">
                <!-- Lien vers la fiche de la formation -->
                <a href="nom-de-la-formation.php" class="training-list__more-link"><img src="./icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" /></a>
            </div>
        </div>
    </div>
</div>
<div class="training-list">
    <div class="training-list__container">
        <div class="training-list__container-left">
            <div class="training-list__title">
                <a href="nom-de-la-formation.php" class="training-list__training-link">S’intégrer et accompagner l’enfant dans une organisation des temps méridiens</a>
            </div>
            <div class="training-list__trainer">
                Arya Stark
            </div>
            <div class="training-list__category">
                <img src="./icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" /><a href="formations.php?cat=category" class="training-list__category-link">Soin aux personnes</a>
            </div>
        </div>
        <div class="training-list__container-right">
            <div class="training-list__more">
                <!-- Lien vers la fiche de la formation -->
                <a href="nom-de-la-formation.php" class="training-list__more-link"><img src="./icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" /></a>
            </div>
        </div>
    </div>
</div>
    <!-- EO pour la demo -->