<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Robb Stark</a>
        </div>
        <div class="trainer-list__item-function">
            Formateur en langue
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Tyrion Lannister</a>
        </div>
        <div class="trainer-list__item-function">
            Communicateur
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Arya Stark</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice thérapeute
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">

            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">
            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">
            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">
            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">
            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>
<div class="trainer-list__item">
    <div class="trainer-list__item-picture">
        <a href="nom-du-formateur.php"><img src="./icons/user.svg" class="trainer-icon" /></a>
    </div>
    <div class="trainer-list__item-info">
        <div class="trainer-list__item-name">
            <a href="nom-du-formateur.php" class="trainer-list__item-link">Daenerys Targaryen</a>
        </div>
        <div class="trainer-list__item-function">
            Formatrice
        </div>
    </div>
</div>